{% extends "base.html" %}

{% block title %}Панель администратора - Гостиница{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Панель администратора</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Номера</h5>
                    <p class="card-text">Управление номерами гостиницы</p>
                    <a href="{{ url_for('admin_rooms') }}" class="btn btn-primary">Управление</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Услуги</h5>
                    <p class="card-text">Управление дополнительными услугами</p>
                    <a href="{{ url_for('admin_services') }}" class="btn btn-primary">Управление</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Бронирования</h5>
                    <p class="card-text">Управление бронированиями</p>
                    <a href="{{ url_for('admin_bookings') }}" class="btn btn-primary">Управление</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Пользователи</h5>
                    <p class="card-text">Управление пользователями</p>
                    <a href="{{ url_for('admin_users') }}" class="btn btn-primary">Управление</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Статистика</h5>
                    <p class="card-text">
                        Всего номеров: {{ rooms_count }}<br>
                        Активных бронирований: {{ active_bookings }}<br>
                        Зарегистрированных пользователей: {{ users_count }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Последние бронирования</h5>
                    <ul class="list-group">
                        {% for booking in recent_bookings %}
                        <li class="list-group-item">
                            Номер {{ booking.room.number }} - {{ booking.user.username }} ({{ booking.check_in.strftime('%d.%m.%Y') }} - {{ booking.check_out.strftime('%d.%m.%Y') }})
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 